* {
    @include css-reset;
}

// header start
.nav-container {
    padding: 10px 60px;
    width: 90%;
    height: 70px;
    background: $secondary-color;
    border-radius: 40px;
    position: fixed;
    top: 3%;
    left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    .logo-container {
        @include logo-text-style;
    }

    .nav-items-container {

        .nav-link-container {
            @include flex-center;
            gap: 20px;
            list-style-type: none;

            .nav-link-item {
                text-decoration: none;
                color: $main-color;
                font-size: 18px;
                text-align: center;
                font-weight: 500;
            }

            .nav-link-item:hover {
                @include nav-link-item-hover-effect;
                text-align: center;
            }
        }
    }

    .contact-me-btn-container {

        button {
            border-radius: 40px;
            border: 0.5px solid #FFF;
            padding: 15px;
            background: transparent;
            cursor: pointer;
            @include flex-center;
            @include button-text-style;
        }

        button:hover {
            background: #D5FF3F;
            border: none;
            color: #000;
        }
    }
}
// header end

// landing start
.landing-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    width: 1152px;
    margin: auto;

    .landing-page-content {
        // background: #82817F;
        width: 468px;
        height: 288px;
        gap: 35px;
        display: flex;
        flex-direction: column;

        .landing-header-text {
            h1 {
                @include H1;
            }

            .header-text-2 {
                text-align: end;
            }
        }

        .landing-short-intro {
            @include paragraph;
        }

        .landing-page-button {
            button {
                @include button-style;
                @include button-text-style;
                font-weight: 700 !important;
                color: $secondary-color;
                cursor: pointer;
            }

            button:hover {
                background: $secondary-color;
                color: $main-color;
            }
        }
    }

    .landing-page-img {
        // background: #82817F;
        width: 504px;
        height: 524px;
        position: relative;
        @include flex-center;

        img {
            width: 400px;
            height: 524px;
            border-radius: 70px;
        }

        h1 {
            @include H1;
            font-size: 35px !important;

            span {
                color: $tertiary-color;
            }
        }

        .img-text-1 {
            position: absolute;
            top: 80px;
            left: 32px;
        }

        .img-text-2 {
            position: absolute;
            bottom: 86px;
            right: 1px;
        }
    }
}
// landing end