@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

$main-font: 'Montserrat';

$main-color: #fff;
$secondary-color: #000;
$tertiary-color: #D5FF3F;