@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.nav-container {
  padding: 10px 60px;
  width: 90%;
  height: 70px;
  background: #000;
  border-radius: 40px;
  position: fixed;
  top: 3%;
  left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.nav-container .logo-container {
  color: #D5FF3F;
  font-size: 20px;
  letter-spacing: 1px;
  color: #D5FF3F;
  font-weight: 700;
}
.nav-container .nav-items-container .nav-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.nav-container .nav-items-container .nav-link-container .nav-link-item {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
.nav-container .nav-items-container .nav-link-container .nav-link-item:hover {
  color: #D5FF3F;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-align: center;
}
.nav-container .contact-me-btn-container button {
  border-radius: 40px;
  border: 0.5px solid #FFF;
  padding: 15px;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}
.nav-container .contact-me-btn-container button:hover {
  background: #D5FF3F;
  border: none;
  color: #000;
}

.landing-page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  width: 1152px;
  margin: auto;
}
.landing-page-container .landing-page-content {
  width: 468px;
  height: 288px;
  gap: 35px;
  display: flex;
  flex-direction: column;
}
.landing-page-container .landing-page-content .landing-header-text h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.landing-page-container .landing-page-content .landing-header-text .header-text-2 {
  text-align: end;
}
.landing-page-container .landing-page-content .landing-short-intro {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.36px;
  color: #000;
}
.landing-page-container .landing-page-img {
  width: 504px;
  height: 524px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-page-container .landing-page-img img {
  width: 400px;
  height: 524px;
  border-radius: 70px;
}
.landing-page-container .landing-page-img h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 35px !important;
}
.landing-page-container .landing-page-img h1 span {
  color: #D5FF3F;
}
.landing-page-container .landing-page-img .img-text-1 {
  position: absolute;
  top: 80px;
  left: 32px;
}
.landing-page-container .landing-page-img .img-text-2 {
  position: absolute;
  bottom: 86px;
  right: 1px;
}

.about-me {
  width: 1152px;
  margin: auto;
}
.about-me .about-me-container {
  margin-top: 130px;
}
.about-me .about-me-container .about-me-content {
  display: flex;
  justify-content: center;
  gap: 47px;
  margin-top: 50px;
}
.about-me .about-me-container .about-me-content .about-me-left-part, .about-me .about-me-container .about-me-content .about-me-right-part {
  display: flex;
  flex-direction: column;
  gap: 119px;
}
.about-me .about-me-container .about-me-content .about-me-left-part .about-me-card, .about-me .about-me-container .about-me-content .about-me-right-part .about-me-card {
  display: flex;
  width: 287px;
  padding: 24px 24px 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.about-me .about-me-container .about-me-content .about-me-center-part {
  width: 483px;
  height: 467px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me .about-me-container .about-me-content .about-me-center-part img {
  width: 349px;
  height: 443px;
  border-radius: 70px;
}
.about-me .about-me-container .about-me-content .about-me-center-part h1 span {
  color: #fff;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-1, .about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-2 {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-3, .about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-4 {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration-color: #000;
  text-decoration-line: line-through;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-3 span, .about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-4 span {
  text-decoration-line: line-through;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  top: -12px;
  left: 136px;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-2 {
  position: absolute;
  right: 13px;
  bottom: 110px;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-3 {
  position: absolute;
  top: 155px;
  right: 49px;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-4 {
  position: absolute;
  bottom: 175px;
  left: 1px;
}

.projects {
  width: 1152px;
  margin: auto;
}
.projects .project-container {
  margin-top: 130px;
}
.projects .project-container .project-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.projects .project-container .project-content .filter-button-container {
  display: flex;
  gap: 12px;
}
.projects .project-container .project-content .filter-button-container button {
  background: #000;
  color: #fff;
}
.projects .project-container .project-content .filter-button-container button:hover {
  background-color: #D5FF3F;
  color: #000;
}
.projects .project-container .project-content .project-card-container {
  width: 964px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.projects .project-container .project-content .project-card-container .project-card {
  position: relative;
}
.projects .project-container .project-content .project-card-container .project-card img {
  width: 300px;
  height: 225px;
  border-radius: 20px;
}
.projects .project-container .project-content .project-card-container .project-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s;
  gap: 40px;
}
.projects .project-container .project-content .project-card-container .project-card .overlay h4 {
  color: #D5FF3F;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.54px;
  text-transform: capitalize;
  text-align: center;
}
.projects .project-container .project-content .project-card-container .project-card .overlay button {
  border: 1px solid #fff;
  background: none;
  color: #fff;
}
.projects .project-container .project-content .project-card-container .project-card .overlay button:hover {
  background: #D5FF3F;
  color: #000;
  border: none;
}
.projects .project-container .project-content .project-card-container .project-card .overlay:hover {
  opacity: 1;
}
.projects .project-container .project-content .project-btn-container {
  margin-top: 50px;
}

.tools {
  width: 1152px;
  margin: auto;
}
.tools .tools-container {
  margin-top: 130px;
}
.tools .tools-container .tools-header {
  margin-bottom: 100px;
}
.tools .tools-container .tools-card-container {
  width: 960px;
  gap: 90px 40px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.tools .tools-container .tools-card-container .tools-card {
  background: #D5FF3F;
  width: 130px;
  padding: 50px 30px 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  border-radius: 20px;
  position: relative;
}
.tools .tools-container .tools-card-container .tools-card img {
  width: 100px;
  height: 96px;
  position: absolute;
  left: 15px;
  top: -46px;
}
.tools .tools-container .tools-card-container .tools-card h4 {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.54px;
  text-transform: capitalize;
}

.contact-me .contact-me-container {
  padding-top: 130px;
  width: 1152px;
  margin: auto;
}
.contact-me .contact-me-container .contact-me-header {
  margin-bottom: 70px;
}
.contact-me .contact-me-container .contact-me-content {
  width: 956px;
  display: flex;
  margin: auto;
  gap: 150px;
}
.contact-me .contact-me-container .contact-me-content .contact-info-container {
  width: 356px;
}
.contact-me .contact-me-container .contact-me-content .contact-info-container h3 {
  text-align: center;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.contact-me .contact-me-container .contact-me-content .contact-info-container .contact-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.contact-me .contact-me-container .contact-me-content .contact-info-container .contact-info .contact-info-icon {
  background: #000;
  width: 50px;
  height: 50px;
  padding: 13px 13px 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}
.contact-me .contact-me-container .contact-me-content .contact-info-container .contact-info .contact-info-icon img {
  width: 25px;
  height: 25px;
}
.contact-me .contact-me-container .contact-me-content .contact-info-container .contact-info p {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.36px;
  color: #000;
}
.contact-me .contact-me-container .contact-me-content .contact-me-form {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-me .contact-me-container .contact-me-content .contact-me-form input, .contact-me .contact-me-container .contact-me-content .contact-me-form textarea {
  border-radius: 30px;
  background: #000;
  border: none;
  width: 450px;
  height: 40px;
  padding: 10px 25px;
  gap: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-me .contact-me-container .contact-me-content .contact-me-form input::-moz-placeholder, .contact-me .contact-me-container .contact-me-content .contact-me-form textarea::-moz-placeholder {
  color: #D5FF3F;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.54px;
  text-transform: capitalize;
}
.contact-me .contact-me-container .contact-me-content .contact-me-form input::placeholder, .contact-me .contact-me-container .contact-me-content .contact-me-form textarea::placeholder {
  color: #D5FF3F;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.54px;
  text-transform: capitalize;
}
.contact-me .contact-me-container .contact-me-content .contact-me-form textarea {
  height: 150px;
}
.contact-me .contact-me-container .contact-me-content .contact-me-form .main-button {
  margin: auto;
}

.main-button button {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #D5FF3F;
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-weight: 700 !important;
  color: #000;
  cursor: pointer;
}
.main-button button:hover {
  background: #000;
  color: #fff;
}

.section-header h1 {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-align: center;
}

.icon-container {
  width: 60px;
  height: 60px;
  border-radius: 32px;
  background: #D5FF3F;
}

.about-me-card {
  position: relative;
  display: flex;
  width: 287px;
  padding: 24px 24px 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.about-me-card .about-me-card-header {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-size: 20px;
}
.about-me-card .about-me-card-content {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.36px;
  color: #000;
}/*# sourceMappingURL=style.css.map */