@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.nav-container {
  padding: 10px 60px;
  width: 90%;
  height: 70px;
  background: #000;
  border-radius: 40px;
  position: fixed;
  top: 3%;
  left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.nav-container .logo-container {
  color: #D5FF3F;
  font-size: 20px;
  letter-spacing: 1px;
  color: #D5FF3F;
  font-weight: 700;
}
.nav-container .nav-items-container .nav-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.nav-container .nav-items-container .nav-link-container .nav-link-item {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
.nav-container .nav-items-container .nav-link-container .nav-link-item:hover {
  color: #D5FF3F;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-align: center;
}
.nav-container .contact-me-btn-container button {
  border-radius: 40px;
  border: 0.5px solid #FFF;
  padding: 15px;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}
.nav-container .contact-me-btn-container button:hover {
  background: #D5FF3F;
  border: none;
  color: #000;
}

.landing-page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  width: 1152px;
  margin: auto;
}
.landing-page-container .landing-page-content {
  width: 468px;
  height: 288px;
  gap: 35px;
  display: flex;
  flex-direction: column;
}
.landing-page-container .landing-page-content .landing-header-text h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.landing-page-container .landing-page-content .landing-header-text .header-text-2 {
  text-align: end;
}
.landing-page-container .landing-page-content .landing-short-intro {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.36px;
  color: #000;
}
.landing-page-container .landing-page-img {
  width: 504px;
  height: 524px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-page-container .landing-page-img img {
  width: 400px;
  height: 524px;
  border-radius: 70px;
}
.landing-page-container .landing-page-img h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 35px !important;
}
.landing-page-container .landing-page-img h1 span {
  color: #D5FF3F;
}
.landing-page-container .landing-page-img .img-text-1 {
  position: absolute;
  top: 80px;
  left: 32px;
}
.landing-page-container .landing-page-img .img-text-2 {
  position: absolute;
  bottom: 86px;
  right: 1px;
}

.about-me {
  width: 1152px;
  margin: auto;
}
.about-me .about-me-container {
  margin-top: 130px;
}
.about-me .about-me-container .about-me-content {
  display: flex;
  justify-content: center;
  gap: 47px;
  margin-top: 50px;
}
.about-me .about-me-container .about-me-content .about-me-left-part, .about-me .about-me-container .about-me-content .about-me-right-part {
  display: flex;
  flex-direction: column;
  gap: 119px;
}
.about-me .about-me-container .about-me-content .about-me-left-part .about-me-card, .about-me .about-me-container .about-me-content .about-me-right-part .about-me-card {
  display: flex;
  width: 287px;
  padding: 24px 24px 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.about-me .about-me-container .about-me-content .about-me-center-part {
  width: 483px;
  height: 467px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me .about-me-container .about-me-content .about-me-center-part img {
  width: 349px;
  height: 443px;
  border-radius: 70px;
}
.about-me .about-me-container .about-me-content .about-me-center-part h1 span {
  color: #fff;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-1, .about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-2 {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-3, .about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-4 {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration-color: #000;
  text-decoration-line: line-through;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-3 span, .about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-4 span {
  text-decoration-line: line-through;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  top: -12px;
  left: 136px;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-2 {
  position: absolute;
  right: 13px;
  bottom: 110px;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-3 {
  position: absolute;
  top: 155px;
  right: 49px;
}
.about-me .about-me-container .about-me-content .about-me-center-part .about-img-txt-4 {
  position: absolute;
  bottom: 175px;
  left: 1px;
}

.main-button button {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #D5FF3F;
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-weight: 700 !important;
  color: #000;
  cursor: pointer;
}
.main-button button:hover {
  background: #000;
  color: #fff;
}

.section-header h1 {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-align: center;
}

.icon-container {
  width: 60px;
  height: 60px;
  border-radius: 32px;
  background: #D5FF3F;
}

.about-me-card {
  position: relative;
  display: flex;
  width: 287px;
  padding: 24px 24px 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.about-me-card .about-me-card-header {
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-size: 20px;
}
.about-me-card .about-me-card-content {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.36px;
  color: #000;
}/*# sourceMappingURL=style.css.map */